
.hl-color{
    color: #06FEFC;
}

.parent{
   width: 30vw;
   height: 10vh;
    display: grid;
    place-items: center;
    
}
.child{
    margin: 20px;
    width: 290px;
    background: #15273F;
    box-shadow: 0px 0px 10px 5px #0C1729;
    border-radius: 10px;
}
.card{
    padding: 16px;

}
.info h3{
    color: #F1F9FD;
    margin: 10px 0;
}
.info p{
    color: #6C81A0;
}
.user img{
    width: 100%;
    border-radius: 4px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    color: #6C81A0;
    border-bottom: 1px solid #1D2F47;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.icon img{
    padding-right: 5px;
    width: 15px;
}
.avatar{
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 12px;
}
.avatar img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
}