.footer{
    height: 9.5vh;
    background-color: var(--primary-background);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links img{
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
}